In [31]:
import pandas as pd
from datetime import date, timedelta, datetime

In [103]:
df = pd.read_csv('dates.csv')

In [105]:
df.head()

     dateInit     dateEnd
0  2025-05-01  2025-06-30
1  2025-03-01  2025-03-15
2  2025-05-10  2025-05-20

In [107]:
daysItems = []
for i, row in df.iterrows():
    sday = datetime.strptime(row.loc['dateInit'],'%Y-%m-%d')
    eday = datetime.strptime(row.loc['dateEnd'],'%Y-%m-%d')
    daysItems.append(pd.date_range(sday,eday))

daysS = []
for days in daysItems:
    for day in days:
        daysS.append(day.strftime('%Y-%m-%d'))

pd.DataFrame(columns='date',data=list(set(daysS)))

In [124]:
pd.DataFrame(list(set(daysS)),columns=['date'])

          date
0   2025-06-09
1   2025-05-04
2   2025-05-05
3   2025-05-26
4   2025-06-16
..         ...
71  2025-05-17
72  2025-06-25
73  2025-06-14
74  2025-06-30
75  2025-06-22

[76 rows x 1 columns]